---
import '../styles/global.css';
import {Image} from 'astro:assets';
const { imageLink, title, tags, description, demoLink, repoLink  } = Astro.props;
---

<div class = "card">
    <img class = "project-image" src = { imageLink } alt = "Image showing project">
    <div class = "info-container">
        <p class = "project-tags"> {tags} </p>
        <h2 class = "project-title"> {title} </h2>
        <p class = "project-description"> {description} </p>

        <div class = "project-buttons">
            <div class = "demo-container">
                <a class = "demo-button" href = {demoLink} > &gt;Demo<span class = "blink">_</span></a>
            </div>
            <div class = "repo-container">
                <a class = "repo-button" href = {repoLink} > &gt;Github<span class = "blink">_</span></a>
            </div>
        </div>
    </div>
</div>

