---
import '../styles/global.css';
import {Image} from 'astro:assets';
const { imageLink, title, tags, description, demoLink, repoLink  } = Astro.props;
---

<div class = "card">
    <div class = "image-container">
        <img class = "project-image" src = { imageLink } alt = "Image showing project">
    </div>
    <div class = "info-container">
        <h1 class = "project-title"> {title} </h1>
        <h2 class = "project-tags"> {tags} </h2>
        <p class = "project-description"> {description} </p>

        <a class = "demo-button" href = {demoLink} > Live Demo </a>
        <a class = "repo-button" href = {repoLink} > Github </a>
    </div>
</div>

